<div class="container">
    <div class="card-header text-center login-card">
        <h3>登録が完了しました</h3>
    </div>
</div>
<div class= "row justify-content-center">
    <div class= "main main-raised col-sm-8">
        <div class= "row justify-content-center">
            <p>
            登録が完了しました。<br>
            配信完了までお待ち下さい。
            </p>
        </div>
    </div>
</div>