 <div class= "row justify-content-center">
                    <div class ="">
                        <a class="btn btn-primary follows" data-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false" aria-controls="multiCollapse1">フォロー</a>
                        <button class="btn btn-primary follows" type="button" data-toggle="collapse" data-target="#multiCollapse2" aria-expanded="false" aria-controls="multiCollapse2">フォロワー</button>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm6">
                            <div class="collapse multi-collapse" id="multiCollapse1">
                                <div class="card card-body">
                                    <% @user.user_followings.each do |f| %>
                                        <%= f.shop.name %>
                                        <%= attachment_image_tag f.shop, :main_image, class: "follow_image", fallback: "no_image.svg", size: "30x30" %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="collapse multi-collapse" id="multiCollapse2">
                                <div class="card card-body">
                                    <% @user.shop_followings.each do |f| %>
                                         <%= f.shop.name %>
                                        <%= attachment_image_tag f.shop, :main_image, class: "follow_image", fallback: "no_image.svg", size: "30x30" %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>