  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <%= link_to root_path do %>
              お問合せ<i class="far fa-envelope"></i>
            <% end %>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        ©︎musubu
      </div>
    </div>
  </footer>