    
    <div class= "row justify-content-center">
        <p>
            <a class="btn btn-primary follows" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">フォロー</a>
            <button class="btn btn-primary follows" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">フォロワー</button>
        </p>   
        <div class="row justify-content-center">
            <div class="col-sm6">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        <% @user.user_followings.each do |f| %>
                            <%= f.shop.name %>
                            <%= attachment_image_tag f.shop, :main_image, class: "follow_image", fallback: "no_image.svg" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-sm6">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">
                        <% @user.shop_followings.each do |f| %>
                            <%= f.shop.name %>
                            <%= attachment_image_tag f.shop, :main_image, class: "follow_image", fallback: "no_image.svg" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>