<div class="chat-box-right">
    <div class="faceicon-right">
        <%= link_to target_path do %>
            <%= attachment_image_tag image, image_name, class: "round_image", fallback: "no_image.svg", size:"50x50" %>
        <% end %>
    </div>
    <div class="mycomment">
        <%# binding.pry if content.match(/^http/) %>
        <strong><%= content_url_to_link(content).html_safe %></strong> <br>
        <%= created_at.strftime("%Y-%m-%d %H:%M")%>
    </div>
</div>