<%# メッセージ表示 %>
  <div class="chat">
    <%# shopでログインしている場合の表示 %>
    <% if shop_signed_in? %>
      <% messages.each do |m| %>
        <% if m.shop_id.present? %>
          <%= render 'chat_messages/chat_message_right', {target_path: shop_path(m.shop),image_name: :main_image , image: m.shop, content:m.content, created_at: m.created_at  } %>
        <% else %>
          <%= render 'chat_messages/chat_message_left', {target_path: user_path(m.user), image_name: :user_image , image: m.user, content:m.content, created_at: m.created_at  } %>
        <% end %>
      <% end %>
    <% else %>
      <% messages.each do |m| %>
        <% if m.user_id.present? %>
          <%= render 'chat_messages/chat_message_right', {target_path: user_path(m.user), image_name: :user_image , image: m.user, content:m.content, created_at: m.created_at  } %>
        <% else %>
          <%= render 'chat_messages/chat_message_left', {target_path: shop_path(m.shop),image_name: :main_image , image: m.shop, content:m.content, created_at: m.created_at  } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
