<div class="container">
    <div class="card-header text-center login-card">
        <h3>お問い合わせ</h3>
    </div>
</div>
<div class= "row justify-content-center">
    <div class= "main main-raised col-sm-8">
        <div class= "row justify-content-center">
            <p>
            お問い合せありがとうございます。<br>
            ご連絡まで今しばらくお待ち下さい。
            </p>
        </div>
    </div>
</div>