/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "toastr";

/*ヘッダー*/
 header {
    background-color: rgba(255,255,255,0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    padding-bottom: 10px;
  }


.round_image{
     border-radius: 50%;
}
.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: skyblue;
}

/*チャットの表示*/
.chat-header{
  background-color: #696969;
  color: white;
}

.chat-box-left{
    text-align: left;
    padding-bottom: 10px;
}

.chat-box-right{
    text-align: right;
    padding-bottom: 10px;
}

.faceicon-right{
    float: right;
    margin-left: 10px;
}

.faceicon-left{
    float: left;
    
}

.chats{
    text-align: right;
    font-size: 14px;
    background: #7da4cd;
  
  }
  
.says {
    display: inline-block;
    position: relative; 
    margin: 0 0 0 10px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #edf1ee;
  }
  
.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px; 
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

.mycomment {
    display: inline-block;
    position: relative; 
    margin: 0 0 0 50px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #30e852;
  }

.mycomment:after {
    content: "";
    position: absolute;
    top: 3px; 
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #30e852;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }


  .form_box {
    border: solid 1px rgba(0, 0, 0, 0.125) ;
  }